/** github logo from my other sites**/
/** networks header */
.site-networks{
  position:absolute;
  right:20px;
  top:10px;
  margin:0;
  padding:0;
}
ul.site-networks{
  list-style: none;
  text-align: center;
  padding:0px 0px 10px 0px;
  
  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left:15px;
    
    .twitter a span.icon {
        background-image: url(../../public/assets/images/twitter-retina.png);
        background-size: 32px 32px;
      }
      
    .github a span.icon {
        background-image: url(../../public/assets/images/github-retina.png);
        background-size: 32px 32px;
      }
    
    a {
      display: block;
      width:32px;
      height:32px;
      text-decoration: none;
      padding-top:0px;
      -webkit-transition : all 0.5s;
      -moz-transition : all 0.5s;
      -ms-transition : all 0.5s;
      -o-transition : all 0.5s;
      transition : all 0.5s;
    
      span.icon {
        position: absolute;
        display: block;
        width:32px;
        height: 32px;
        -webkit-transition : all 0.5s;
        -moz-transition : all 0.5s;
        -ms-transition : all 0.5s;
        -o-transition : all 0.5s;
        transition : all 0.5s;
      }
      
      &:hover{

        span.icon {
          left:0px;
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      span.desc{
        display: none;
      }
    }
  }
}

@media only screen
and (max-width: $grid-float-breakpoint) and (min-width : 370px)
{
  ul.site-networks{
    right:70px;
  }
  ul.site-networks li{
    margin-left:0px;
  }
  .site-title {
    font-size: 26px;
  }
  .content {
    padding: 0 10px;
  }
  img{
    max-width: 100%;
  }
}
/** for small devices */
@media only screen
and (max-width : 370px) {
  ul.site-networks{
    display: none;
  }
}

.navbar-default button.navbar-toggle {
  border-color : #900000;
}
.navbar-default .navbar-toggle span.icon-bar{
  background-color: #900000;
}
